@import "~bootstrap/dist/css/bootstrap.min.css";

/* .cuerpocarta {
  background-color: green;
  height: 210px;
} */

.card {
  height: 200px;
  border: white;
  width: 20%;
}

/* body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvguAvcERD9tr1Qg-kxrSgb2QtDPcAjdRd2w&usqp=CAU");
} */
